.menu-container{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../media/fondoPizza.jpg);
    margin-top: 2.5rem;
}
.menu-container h2{
    margin-top: 2.5rem;
    font-size: 2rem;
    font-family: "Rubik",sans-serif;
    letter-spacing: 1px;
    color: #212121;

    height:2rem;
}
.menu-flex-container{
    width:90%;
    margin-top: 2.5rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.menu-item-container{
    height:23.5rem;
    width:20rem;
    max-width: 500px;
    flex-grow: 1;
    flex-shrink: 1;
    margin:1rem;
    animation: animation .5s ease;
}

@keyframes animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.item-img-container{
    height:15rem; 
    border:1px solid #747474;
    transition: all 1s;
    overflow:hidden;
}
.item-img-container img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    transition: all .5s;
}
.item-img-container img:hover{
    transform:scale(1.15)
}
.item-info-container{
    text-align:center;
    margin-top: 1rem;
}
.item-info-container span {
    font-family: "Rubik",sans-serif;
}
.item-info_title{
    font-weight: 700;
}
.item-info-container p{
    color:#979797;
    margin-top: .5rem;
    font-family: "Rubik",sans-serif;

}

/*Botón del menú arriba*/
.menu-button_change-container{
    margin-top: 2.5rem;
    height:2rem;
    width:40%;
    display:flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    border-radius: 1rem;
}
.button_change-item{
    display:block;
    width: 30%;
    border:none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #f4f4f4;
    color:#979797;
    font-size: 1.25rem;
    font-family: "Roboto",sans-serif;
    transition: 1s all ease;
}
.button_change-item:hover{
    color:#fff;
    background-color: #ba0000;
}
.button_change-item-active{
    color:#fff;
    background-color: #ba0000;
}
/*Botón del menú abajo*/

.menu-button-container button{
    outline: none;
    height:2.5rem;
    width:15rem;
    background-color: #ba0000;
    border: none;
    border-radius: .75rem;
    margin-bottom: 2.5rem;
}
.menu-container button a{
    text-decoration: none;
    color:#fff;
    font-size: 1.25rem;
    font-family: "Roboto",sans-serif;

}

@media screen and (max-width:720px){
    .menu-container h2{
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .menu-button_change-container{
        width:75%;

    }
}